

    body {width: 960px;
    margin: 0 auto;
    background-color: #9abdeb}

    nav { background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 20px;
        padding: auto;
        color: rgb(195, 0, 255);}

    a{ color: rgb(195, 0, 255);
    font-size: large;
    padding: auto;}


    #content {overflow: auto;
    height: 100%;}

    article {
    background-color: azure;
    padding: 20 px;
    float: left;
    margin: 10px;
    width: 300px; 
    text-align: center;
    }

    dt {font-weight: bold;
    font-size: larger;
    color: #00367d;}

    header { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color :rgb(34, 0, 255);
    text-align: center;}
        
    .mepic{ 
        margin: auto;
        display: block;
        align-self: center;}

    p {font-family: Georgia, 'Times New Roman', Times, serif;
        color: #000000;
        text-align: center;
        font-size: larger;}

        dd {padding-right : 10px;
            padding-left: 0px;
            padding-top: 5px;
            padding-bottom: 5px;}

        .uw{ 
            margin: auto;
            display: block;
            align-self: center;}
        
    .golf {background-color: azure;
        padding: 20 px;
        float: left;
        margin: 10px;
        width: 450px; 
        text-align: center;}
    .soccer{    background-color: azure;
        padding: 20 px;
        float: right;
        margin: 10px;
        width: 450px; 
        text-align: center;}